---
import CardAction from "./CardAction";

const productData = Astro.props.productData;
const { product, category, images, variants, relatedProducts } =
  productData || {};

const { name, price, metaDescription, discountedPrice } = product;
---

<main class="container grid grid-cols-2 gap-6">
  <div>
    <img src={images[0].url} alt="product" class="w-full" />
    <div class="grid grid-cols-5 gap-4 mt-4">
      {
        images?.map((image: any) => (
          <Fragment key={image.id}>
            <img
              src={image.url}
              alt="product2"
              class="w-full cursor-pointer border border-primary"
            />
          </Fragment>
        ))
      }
    </div>
  </div>

  <div>
    <h2 class="text-3xl font-medium uppercase mb-2">{name}</h2>
    <div class="flex items-center mb-4">
      <div class="flex gap-1 text-sm text-yellow-400">
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
      </div>
      <div class="text-xs text-gray-500 ml-3">(150 Reviews)</div>
    </div>
    <div class="space-y-2">
      <p class="text-gray-800 font-semibold space-x-2">
        <span>Availability: </span>
        <span class="text-green-600">In Stock</span>
      </p>
      <p class="space-x-2">
        <span class="text-gray-800 font-semibold">Brand: </span>
        <span class="text-gray-600">Apex</span>
      </p>
      <p class="space-x-2">
        <span class="text-gray-800 font-semibold">Category: </span>
        <span class="text-gray-600">{category?.name}</span>
      </p>
      <p class="space-x-2">
        <span class="text-gray-800 font-semibold">SKU: </span>
        <span class="text-gray-600">BE45VGRT</span>
      </p>
    </div>
    <div class="flex items-baseline mb-1 space-x-2 font-roboto mt-4">
      <p class="text-xl text-primary font-semibold">${discountedPrice}</p>
      <p class="text-base text-gray-400 line-through">${price}</p>
    </div>

    <p class="mt-4 text-gray-600">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eius eum
      reprehenderit dolore vel mollitia optio consequatur hic asperiores
      inventore suscipit, velit consequuntur, voluptate doloremque iure
      necessitatibus adipisci magnam porro.
    </p>

    <CardAction
      product={{
        id: product?.id,
        name: product?.name,
        price: product?.discountedPrice || product?.price,
        imageSrc: images?.[0]?.url,
        slug: product?.slug,
      }}
      client:load
    />
    <!-- social icon -->
    <div class="flex gap-3 mt-4">
      <a
        href="#"
        class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center"
      >
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a
        href="#"
        class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center"
      >
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a
        href="#"
        class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
</main>

<style>
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
</style>
